body {
   margin: 0;
   padding: 0;
}

/* HEADER */
.header {
   background-color: grey;
   height: 83px;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;

   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 1000;
}

.logo {
   height: 73px;
   width: 73px;
}

/* COLLAPSE */
.navbar-toggler:focus,
.navbar-toggler:hover {
  border-color: transparent; /* İstersen */
  box-shadow: none;
  background-color: transparent; /* mavi olmasın */
}

.custom-accordion {
   font-size: 0.85rem;
   max-width: 800px;
   display: flex;
   gap: 0.5rem;
}
 
.custom-accordion .accordion-button {
   padding: 0.25rem 0.5rem;
   font-size: 0.85rem;
   background-color: transparent;
   color: white;
   border-radius: 0.5rem !important;
}

.custom-accordion .accordion-button:not(.collapsed) { /* açık olan item */
   background-color: transparent;
   color: white;
   box-shadow: none;
   border-color: transparent;
}

.accordion .accordion-button:hover {
   background-color: rgba(255,255,255,0.1);
}

.accordion-button::after {
   filter: brightness(0) invert(1);
   width: 1.5rem;
   height: 1.5rem;
} 

.custom-accordion .accordion-body {
   padding: 0.5rem;
   font-size: 0.85rem;
   background-color: transparent;
   color: white;
}

/* Accordion kapalıyken bile daha geniş görünmesi için */
.custom-accordion .accordion-item {
   background-color: transparent;
   border: none;
   border-radius: 0.5rem !important; 
   flex: 1;
   min-height: 50px; /* kapalıyken biraz yüksek */
   min-width: auto;
}

.custom-accordion .accordion-collapse {
   overflow: hidden;
   transition: height 0.3s ease, min-height 0.3s ease;
}

.custom-accordion .accordion-collapse.collapse {
   min-height: 50px; /* kapalıyken yüksek */
}

.custom-accordion .accordion-collapse.collapse.show {
   min-height: auto; /* açıkken içerik kadar */
}

.collapse-content {
   display: flex;
   align-items: flex-start;
   gap: 1rem;
}
 
.accordion-wrapper {
   flex: 1;
   min-width: 0;
}

.filter-button-wrapper {
   display: flex;
   align-items: center;
   height: 40px;
}

.filter-button {
   height: 100%;
   padding: 0 16px;
   white-space: nowrap;
   cursor: pointer;
   border-radius: 4px;
   border: none;
   background-color: rgb(255, 208, 0);
   color: whitesmoke;
   font-weight: bold;
   font-size: 1rem;
}

.filter-button:hover {
   background-color: darkred;
}

.accordion-button {
   font-size: large;
}

.text-white {
   margin-right: 47px;
}

.navbar-toggler-icon:hover {
   background-color: rgba(187, 187, 187, 0.576);
   border-radius: 3px;
}